@mixin backgroundPosition {
  background-position: center;
}

@mixin limitedOfferPadding {
  padding: 20px;
}

@mixin btnFunction($color, $percent) {
  padding: 10px 40px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  margin: 10px;
  background-color: $color;
  border: 1px solid darken($color, $percent);
  &:hover {
    background-color: lighten($color, $percent);
  }
}

@mixin displayFlex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
