
$brandColor: black;
$iconColor: #1A9CFF;
$headerHeight: 90px;
$headerTopHeight: 40px;
$headerPadding: 0 50px;
$linkColor: #959595;
$textColor: white;
$mainImage: "https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg";
$moneyBackImage: "https://www.painterartist.com/static/common/images/ico-30day-money-back-guarantee-en.png";
$btnPercent: 5%;
$btnBuyColor: #28ACFF;
